<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao blog do node!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
  </p>
</div>

<hr>
<h2>Postagens recentes</h2>

{{#each postagens}}
<div class="card">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{conteudo}}</p>
        <p>{{data}}</p>
    </div>
</div>
{{else}}
    <h5>Nenhuma postagem.</h5>
{{/each}}