{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<h3>Crie sua conta: </h3>
<div class="card">
    <div class="card-body">
        <form accept="" method="POST">
            <label for="nome">Nome: </label>
                <input type="text" name="nome" class="form-control" required>
            <label for="email">Email: </label>
                <input type="email" name="email" class="form-control" required>
            <label for="nome">Senha: </label>
                <input type="password" name="senha" class="form-control" required>
            <label for="senha2">Repita sua senha: </label>
                <input type="password" name="senha2" class="form-control" required>
            <button type="submit" class="btn btn-outline-success mt-2">Criar conta</button>
        </form>
    </div>
</div>