<div class="card">
    <div class="card-body">
        <h1> {{titulo}} </h1>
        <hr>
        <small>Data de publicação: {{data}}</small>
        <hr>
        <p> {{conteudo}} </p>
    </div>
</div>